@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Russo+One&display=swap');
 

.wrapper {
  /* font-family: 'Russo One', sans-serif; */
  font-family: 'Open Sans', sans-serif;  
  display: grid;
  height: 100vh;
  width: 100%;
  grid-template-columns: 3fr 9fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas: 
    "header header"
    "nav content";
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}


